# Financial Professional Python Primer

## Python

### What is Python

- A (leading) programming language
- OS-agnostic
- Multiple uses
- Open source -> Community contributions -> **Most useful contributions made in the form of LIBRARIES**

`Numpy`, `pandas`, `Matplotlib`, `SciPy`, `scikit-learn`, `TensorFlow` and `PyTorch` are some of the most popular libraries for mathematical computing, data wrangling and manipulation, data visualization, scientific computing and machine learning.

### Jupyter Notebooks

A hugely popular, web-based, interactive computational environments that allows users to write, run, test, explore and share codes in various programming languages. It's widely used in data analytics, machine learning, scientific computing, research and education.

JN was first designed for Python, but some other languages are supported now.

## Core Syntax of Python

### Variables

**Everything is an object in Python.** It could be some text, a number or something more complex.

Consider ways to create a variable and to assign the variable a value. Once done, **the variable will turn a reference to the object that holds that value in memory**.

In [21]:
x = 5.20
x

5.2

(You may think about why the second line, which contains only one single `x`, may work for Jupyter Notebook to output the current value of `x`. That is because JN has a built-in feature to print the last line in every single cell where possible, as we don't have to explicitly ask Python to print the variable.)

In the cell above, the float `5.2` has been assigned to the variable `x`.

When choosing a name for variables in Python, rules exist.

- Variables can be of any length but can only contain alpha-numeric characters and underscores.
- Variable names cannot start with a number.

Naming conventions like Camel, Pascal and Snake case are recommended when naming variables.

- **Camel case**: The first word is in lower case and all subsequent words have capitalized first letters.
- **Pascal case**: The first letter of each word is capitalized.
- **Snake case**: All words are in lower case but separated by underscores.

For example, for a concept of `farming subsidies`, we may name the variable as `farmingSubsidies` in Camel case, `FarmingSubsidies` in Pascal case or `farming_subsidies` in Snake case.

### Arithmetic Operators

| Python Arith. Opr. | Maths. Op. |
| ----------- | ----------- |
| `+` | Addition |
| `-` | Subtraction |
| `*` | Multiplication |
| `/` | Division |
| `//` | Division which rounds the results down to the nearest whole integer value|
| `**` | Exponentiation |
| `%` | Complex operations such as finding the remainder of 2 numbers |

#### Addition & Subtraction Operators

Easy. Just take a look at the result below.

In [22]:
additionResult = 1 + x
subtractionResult = 1 - x
str(additionResult) + " " + str(subtractionResult)

'6.2 -4.2'

(You may be wondering why `x` can be calculated without assigning any values - that is because you have assigned a value to the variable in chapters above.)

As is shown, addition in Python is denoted by a plus sign and subtraction is denoted by a minus symbol. Both are similar to that used in applications like Microsoft Excel.

#### Multiplication & Division Operators

Easy. Just take a look at the result below.

In [23]:
multiplicationResult = x * 5
y = 2
multiplicationResultExp1 = y ** 5
multiplicationResultExp2 = 5 ** y
divisionResult = y / 5
divisionResultQuotient = y // 5
divisionResultRemainder = y % 5
print(str(multiplicationResult) + " " + str(multiplicationResultExp1) + " " + str(multiplicationResultExp2)) 
print(str(divisionResult) + " " + str(divisionResultQuotient) + " " + str(divisionResultRemainder))

26.0 32 25
0.4 0 2

Multiplication, as is shown by `multiplicationResult`, will keep the calculation result's type the same with that of the multipliers. $x=5.2$, which is a float variable, will make $5x=26$, the result, also a float.

From `multiplicationResultExp1` and `multiplicationResultExp2`, it can be easily discovered that equation $a^b$ should be translated into `a ** b`, rather than `b ** a` in Python.

### Multiple Variable Assignment

Different from C++ or else, we can assign values to multiple variables at the same time.

For multiple variables to which we want to assign the same value, we can use equation sign to connect all variables and value.

In [24]:
x = y = z = 5
x, y, z

(5, 5, 5)

For those to which we want to assign different values, we can use commas and a equation sign to assign them respectively.

In [25]:
x, y, z = 5, 6, 7
x, y, z

(5, 6, 7)

### Variable Value Change

To change the value of a variable we've previously assigned, we can just make a reassignment. We can also use a arithmetic operator along with an equation symbol to change the value of the same variable.

Consider a variable containing the FX rate for EURUSD, which is currently 1.10. It needs to be changed to 1.125, so we can use the following code to make the change to the variable.

In [26]:
EURUSD = 1.10
EURUSD += 0.025
EURUSD

1.125

### Operators on Strings

#### Concatenation

Use an addition operator to add strings together.

#### Repetition

To repeat a string multiple times, we can use the asterisk symbol `*` to specify the number of repetitions.

In [27]:
y = "Hello" + " " + "World!" + " "
print(y)
print(y * 5)

Hello World!
Hello World! Hello World! Hello World! Hello World! Hello World!

## Data Types and Collections

Python has various built-in data types. 4 *simple* <span style="color:gray; font-size:50%">holding only a single value</span> ones are Booleans (`bool`), Integers (`int`), Floats (`float`) and Strings (`str`).

Value of Booleans in Python should feature a capitalized first letter.

In [1]:
x = False
type(x)

bool

In [2]:
x = True
type(x)

bool

In [3]:
x = 500
type(x)

int

In [4]:
x = 500.0
type(x)

float

In [5]:
x = "500.0"
type(x)

str

Logical query can also be made in Python, which will return a `bool` type.

In [6]:
x = 1 > 2
type(x)

bool

### Lists and Tuples

Python allows its users to build collections of simple data types. They can turn useful to collect errors, filenames or other simple pieces of data that users can inspect or audit later.

#### Lists

The most versatile of the collections discussed, used to store multiple items in a single variable.

**Items in a Python list are ordered,** which can be altered after creation and items in the list can be added or deleted at any time. The feature is known as **Mutability**.

List in Python is formed as a collection of comma-separated values wrapped by square brackets `[]`.

In [7]:
currencyList = ["CNY", "HKD", "USD", "JPY"]
type(currencyList)

list

In [8]:
currencyList

['CNY', 'HKD', 'USD', 'JPY']

In [9]:
currencyList == ['JPY', 'CNY', 'HKD', 'USD']

False

#### Tuples

Another ordered collection data type in Python. The difference from lists is that tuples are **immutable** - once created, tuples cannot be changed.

Tuples are formed as a collection of comma-separated values wrapped by round brackets `()`.

In [10]:
currencyList = 'CNY', 'HKD', 'USD', 'JPY'
type(currencyList)

tuple

In [11]:
currencyList

('CNY', 'HKD', 'USD', 'JPY')

We can access a certain (maybe the $n$-th) element in a tuple $A$ by using `A[n]`.

In [12]:
currencyList[1]

'HKD'

Tuple can also contain tuples inside.

In [13]:
fxList = (('CNY', 7.1, 'USD'), ('CNY', 19.45, 'JPY'))
type(fxList)

tuple

We can get the $n$-th tuple of all tuples within the tuple $A$ by using `A[n]`. Similarly, we can get the $m$-th element in tuple $A_n$ by using `A[n][m]`.

In [14]:
fxList[1]

('CNY', 19.45, 'JPY')

In [15]:
fxList[1][2]

'JPY'

### Indexing & Slicing

#### Indexing

The process of calling, accessing or locating a specific item inside a collection in Python. Syntax is simple and consistent.

Indices are usually integers but can also be strings, depending on the collection type.

Note: We can directly get the last element of a collection by marking the index `-1`. Similarly, **we can index the elements from the final element by using the negative integers as index.**

In [16]:
currencyList = ['CNY', 'JPY', 'USD', 'GBP']
currencyList[-1]

'GBP'

In [28]:
currencyList[-2]

'USD'

We can also change the value of a certain element $A_n$ by methods mentioned in *Variables* chapter.

In [17]:
currencyList[3] = 'EUR'
currencyList

['CNY', 'JPY', 'USD', 'EUR']

#### Slicing

A technique to extract one or more element from a Python collection, allowing users to specify an index range for items they want to return. Also available for a string.

The basic syntax for slicing is `list_name[start_index:end_index]`. The start index goes before the colon and the end one goes after, and **the range's end goes under the rule of Upper-bound exclusive** <span style="color:gray; font-size:50%">the end index will not be included</span> but the start point is lower-bound inclusive.

In [21]:
currencyList[2:3]

['USD']

In [22]:
currencyList[2:4]

['USD', 'EUR']

If `start_index` is left blank, Python will start the index from the beginning, returning the start of the list all the way up to index `end_index - 1`.

In [23]:
currencyList[:3]

['CNY', 'JPY', 'USD']

If `end_index` is left blank, Python will include all elements from the `start_index` to the end of the list, including the last element.

In [24]:
currencyList[2:]

['USD', 'EUR']

### Dictionaries

Another useful data type built into Python, indexed by **keys** of any immutable type.

The approach of storing data is *mapping*. It's best to think of a dictionary as a set of key value pairs, with the requirement that keys are unique within the dict.

In [25]:
companies = {
    "HSBC": "HSBC Holdings",
    "ABNB": "Airbnb, Inc."
}
type(companies)

dict

In [26]:
companies

{'HSBC': 'HSBC Holdings', 'ABNB': 'Airbnb, Inc.'}

In [27]:
companies["HSBC"]

'HSBC Holdings'

## Logical & Membership Operators

The 3 logical operators in Python are `and`, `or` and `not`. They will perform conjunction, disjunction and inversion operations respectively.

In [30]:
1 == 1 and 2 == 1

False

In [31]:
1 == 1 or 2 == 1

True

In [32]:
not 1 == 1

False

`in`, the membership operator, will return `True` if a specified value is found in a sequence or container or `False` if otherwise.

In [33]:
"GOOG" in companies

False

In [34]:
"HSBC" in companies

True

The membership operator can be used in combination with logical ones.

In [35]:
not "HSBC" in companies

False

In [36]:
not ("HSBC" in companies)

False

In [37]:
"HSBC" not in companies

False

## Control Flow

### If Statements

One of the most commonly used conditional statements in programming languages,  deciding whether certain statements will be executed or not. It checks for a given condition, if the condition is true, then the set of code present inside the if block will be executed.

In [38]:
tesla = {
    "symbol": "TSLA",
    "market_cap": 610,
    "PE": 60.55,
    "dividends": False,
    "open_p": 191.66,
    "close_p": 190.72,
    "target_1yr": 316.33
}
if tesla["close_p"] <= 0.95 * tesla["open_p"]:
    print("Buy signal.")

### Branching

Expand on the if statement by increasing the branching and adding in different responses to different conditions. To do this we can use the else function. When testing an if condition, if the condition is false, then it will execute the else block, which is the block where you will perform some actions when the condition is not true.

In [39]:
if tesla["close_p"] <= 0.95 * tesla["open_p"]:
    print("Buy signal.")
elif tesla["close_p"] <= tesla["open_p"]:
    print("Wait for further drop.")
else:
    print("Don't buy.")

Wait for further drop.

### For Loops

A `for` loop in Python is a control flow statement used to repeatedly execute a group of statements as long as the condition is satisfied.

The container must exist as a Python object and must be iterable. It can be a list, a dictionary, a string or a range.

In [41]:
for item in [0,1,2,3,4]:
    print(item)

0
1
2
3
4

In [40]:
for item in tesla:
    print(item)

symbol
market_cap
PE
dividends
open_p
close_p
target_1yr

In [45]:
for key, value in tesla.items():
    print("The", key, "is", value)

The symbol is TSLA
The market_cap is 610
The PE is 60.55
The dividends is False
The open_p is 191.66
The close_p is 190.72
The target_1yr is 316.33

In [42]:
for item in "Python":
    print(item)

P
y
t
h
o
n

In [43]:
for item in range(0, 5):
    print(item)

0
1
2
3
4